<div class="carousel">
  <div class="carousel-left-fade"></div>
  <div class="carousel-right-fade"></div>
  <ol class="carousel-ol">
    <li class="carousel-li">
      <h1 class="carousel-text">Totally Serious Productions</h1>
      <img src="img/totes/totesimg1.jpg" class="carousel-img">
    </li>
    <li class="carousel-li">
      <h1 class="carousel-text">Totally Serious Productions</h1>
      <img src="img/totes/totesimg2.jpg" class="carousel-img">
    </li>
    <li class="carousel-li active">
      <h1 class="carousel-text">Totally Serious Productions</h1>
      <img src="img/totes/totesimg3.jpg" class="carousel-img">
    </li>
  </ol>
</div>
