<div class="footer">
  <a name="contact"></a>

  <div class="footer-social">
    <h2 class="font1 social-title">Follow Us</h2>
    <a href="https://www.facebook.com/TotallySeriousProductions/"><img class="social-buttons" src="img/fb.png"></a>
    <a href="https://twitter.com/totesserious"><img class="social-buttons" src="img/twitter.png"></a>
    <a href="https://www.instagram.com/totallyseriousproductions/"><img class="social-buttons" src="img/insta.png"></a>
  </div>

  <div class="footer-form">
    <h2 class="font1 form-title">Contact Us</h2>
    <form method="POST" action="http://formspree.io/Totallyseriousproductions@gmail.com">
      <center><input type="email" class="email" name="email" placeholder="Your email">
      <br />
      <textarea name="message" class="text" placeholder="Your message" rows="5" cols="30"></textarea>
      <br />
      <div class="form-button">
        <p type="submit" class="button-text font1">Send</p>
      </div></center>
    </form>
  </div>

</div>

<script type="text/javascript" src="/js/scripts.js"></script>
