<div class="nav-bar">
  <div class="nav-tsp"><a href="#home" class="font1 a-white tsp-logo"><img src="img/tsplogo.png" width="70px"></a></div>
  <div class="nav-burger"><img src="img/burger-icon.png" class="burger-icon"></div>
  <div class="nav-drop-fixed">
    <div class="nav-drop">
      <div class="nav-contact"><a href="#contact" class="font1 a-white contact">CONTACT</a></div>
      <div class="nav-media"><a href="#media" class="font1 a-white media">MEDIA</a></div>
    </div>
  </div>
</div>
