//MEDIA QUERIES
@media screen and (max-width: 1430px) {
  .center {
    padding-left: 10% !important;
  }
}

@media screen and (max-width: 1155px) {
  .center {
    padding-left: 15% !important;
    position: relative;
  }
}

// @media screen and (max-width: 1121px) {
//   .center {
//     padding-left: 20% !important;
//     padding-right: 20% !important;
//
//   }
// }

@media screen and (max-width: 770px) {
  .center {
  }
}

@media screen and (max-width: 520px) {
  .center {
    padding-left: 15% !important;
  }
}

@media screen and (max-width: 440px) {
  .center {
    padding-left: 15% !important;
  }

  .nav-home-button {
    display: none;
  }

  .media {

  }

  .showcase-vid {
    height: 200px !important;
    width: 200px !important;
  }
}

@media screen and (max-width: 380px) {
  .center {
    padding-left: 5% !important;
  }

  .nav-home-button {
    display: none;
  }

  .media {

  }

  .showcase-vid {
    height: 200px !important;
    width: 200px !important;
  }
}

@media screen and (max-width: 300px) {
  .center {
    padding-left: 0% !important;
  }

  .nav-home-button {
    display: none;
  }

  .media {

  }

  .showcase-vid {
    height: 200px !important;
    width: 200px !important;
  }
}

//BASE ELEMENTS
a:hover {
  text-decoration: none;
}

.a-white {
  color: white !important;
}

.a-gold {
  color: #d3a248 !important;
}

// FONTS
 @font-face {
   font-family: bebas;
   src: url('/fonts/bebas.ttf')
}

 .font1 {
   font-family: bebas;
 }

// HEADER
.video {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.welcome {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}


// NAVBAR
.nav-bar {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 60px;
  z-index: 2;
  position: fixed;
  padding: 15px;
  text-align: right;
  box-shadow: 1px 5px 1px rgba(0, 0, 0, 0.7);
  padding-top: 17px;
}

.nav-home-button {
  font-size: 25px;
  float:left;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.nav-button {
  margin-right: 40px;
  font-size: 17px;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 2px;
}

.nav-button:hover {
  color: #d3a248;
  border-color: white !important;
  background-color: white !important;
  border-style: solid;
  border-width: 2px;
}

.media {
  color: #d3a248 !important;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 5px;
}

.contact {
  color: #d3a248 !important;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 7px;
}

//BODY
.index-contain {
  background-color: black;
}

// showcase

.showcase-title {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 25px !important;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 5;
  position: relative;
}

.newreleases {
  color: rgba(255, 255, 255, 0.5);
  font-family: bebas !important;
  font-size: 12px;
  padding-right: 25px;
}

.mostviews {
  color: rgba(255, 255, 255, 0.5);
  font-family: bebas !important;
  font-size: 12px;
}

.all {
  color: rgba(255, 255, 255, 0.5);
  font-family: bebas !important;
  font-size: 12px;
  padding-left: 25px;
}

.active {
  color: white;
  font-family: bebas !important;
  font-size: 25px !important;
  text-align: center !important;
}

.showcase1 {
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: #003642 !important;
  height: 100%;
  padding-top: 40px;
  z-index: 1;
}

.center {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.show-1 {
  width: 300px;
  float: left;
  margin-right: 25px;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.show-2 {
  width: 300px;
  float: left;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.show-3 {
  width: 300px;
  float: left;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.show-4 {
  width: 300px;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.showcase-vid {
  width: 300px;
  height: 300px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.showcase2 {
  display: none;
}
