// FONTS

@font-face {
  font-family: blacklisted;
  src: url('/fonts/Blacklisted.ttf')
}

 @font-face {
   font-family: bebas;
   src: url('./../fonts/bebas.ttf')
}

 .font1 {
   font-family: bebas;
 }

 .font2 {
   font-family: blacklisted;
 }

//MEDIA QUERIES

@media screen and (max-width: 800px) {
  .video-modal {
    height: 50vh !important;
    width: 100% !important;
    line-height: 200px !important;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    margin-left: -50% !important;
    margin-top: -23vh !important;
    z-index: 11 !important;
  }
}

@media screen and (max-width: 600px) {
  .carousel {
    height: 65vh !important;
  }

  .carousel-right-fade  {
    height: 65vh !important;
  }

  .carousel-left-fade  {
    height: 65vh !important;
  }

  .carousel-img {
    height: 70vh !important;
    position: relative;
    z-index: -1;
  }

  .carousel-text {
    top: 95px !important;
    font-size: 50px !important;
  }

  .footer {
    height: 550px !important;
  }

  .carousel-li {
    top: -65vh !important;
  }

  .footer-form {
    width: 100% !important;
  }

  .footer-social {
    position: static !important;
    bottom: 0px !important;
    padding: 20px !important;
    text-align: center !important;
    margin-bottom: 20px;
    width: auto !important;
  }

  .social-title {
    margin-bottom: 40px !important;
  }


}

@media screen and (max-width: 400px) {

  .video-title {
    font-size: 17px !important;
  }

  .carousel-text {
    top: 95px !important;
    font-size: 38px !important;
  }

  .carousel-img {
    height: 66vh !important;
    position: relative;
    z-index: -1;
  }
}

//BASE STUFF

a:hover {
  text-decoration: none;
}

.a-white {
  color: white !important;
}

.gold {
  color: #d3a248 !important;
}

// NAVBAR

.nav-bar {
  transition: background-color, 1s, box-shadow, 1s, ease-in-out;
  -webkit-transition: background-color, 1s, box-shadow, 1s, ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 60px;
  position: fixed;
  text-align: right;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.nav-tsp {
  float:left;
  margin-left: 13px;
  margin-top: 2px;
  position: relative;
}

.tsp-logo {
  width: 75px;
}

.tsp-logo:hover {
  cursor: pointer;
}

.nav-burger {
  margin-right: 25px;
  float: right;
}

.nav-burger:hover {
cursor: pointer;
}

.burger-icon {
  margin-top: 15px;
  width: 30px;
}

.nav-drop-fixed {
  position: fixed;
  width: 100%;
  margin-top: 60px;
}

.nav-drop {
  display: none;
  padding-right: 15px;
  float: right;
  width: 105px;
  height: 95px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color, 1s, ease-in-out;
  -webkit-transition: background-color, 1s, ease-in-out;
  border-radius: 0px 0px 0px 4px;
}

.nav-contact {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

a.contact:hover {
  color: #d3a248 !important;
}

.nav-media {
  font-size: 18px;
}

a.media:hover {
  color: #d3a248 !important;
}

// HEADER

.carousel {
  width: 100%;
  height: 80vh;
  text-align: center;
  text-align: center;
}

.carousel-left-fade {
  color: white;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  height: 80vh;
  float: left;
  width: 150px;
  font-size: 50px;
  position: relative;
  z-index: 1;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
}

.carousel-right-fade {
  color: white;
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  height: 80vh;
  float: right;
  width: 150px;
  font-size: 50px;
  position: relative;
  z-index: 1;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
}

.carousel-ol {
  list-style-type: none;
  margin-left: 0px !important;
  text-align: center;
}

.carousel-li {
  top: -80vh;
  display: none;
  position: relative;
  z-index: -1;
}

.carousel-text {
  padding: 70px;
  text-shadow: 1px 4px 20px rgba(0, 0, 0, 0.9);
  position: fixed;
  font-family: bebas;
  font-size: 70px;
  top: 130px;
  color: white;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.carousel-img {
  width: 100%;
  min-width: 100%;
  height: 120vh;
}

.active {
  display: block;
  position: relative;
}

//BODY

.index-contain {
  background-color: black;
}

//SHOWCASE

.showcase-bar {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 25px !important;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.showcase-title {
  color: rgba(255, 255, 255, 1);
  font-family: bebas !important;
  font-size: 30px;
}

// VIDEOS

.showcase {
  width: 100%;
  min-height: 6700px;
  height: auto;
  padding-top: 40px;
  background-color: #1e5e64 !important;
  text-align: center;
}

.video {
  display: inline-block;
  margin-bottom: 45px;
  margin-left: 25px;
  margin-right: 25px;
}

.video-title {
  text-align: center;
  font-family: bebas;
  color: white;
  padding-bottom: 13px;
  font-size: 17px;
}

.video-thumbnail {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.video-thumbnail:hover {
  cursor: pointer;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0 , 0.7);
}

.video-modal {
  height: 67vh;
  width: 75%;
  line-height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -38%;
  margin-top: -33vh;
  z-index: 11;
}

.close-overlay {
  color: white;
  font-size: 25px;
  font-family: bebas;
  float: right;
  margin-right: 15px;
  margin-top: 70px;
}

.close-overlay:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.showcase-vid {
  width: 850px;
  height: 450px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

// FOOTER

.footer {
  height: 300px;
  position: relative;
  z-index: 1;
  box-shadow: 0px -5px 25px rgba(0, 0, 0, 0.1);
  background-color: #7a7a7a;
}

.footer-social {
  width: 30%;
  position: absolute;
  left: 55%;
  padding: 15px;
  text-align: center;
}

.social-title {
  color: white;
  margin-bottom: 55px;
}

.social-buttons {
  width: 55px;
}

.footer-form {
  padding: 15px;
  height: 300px;
  width: 65%;
  margin: none;
}

.form-title {
  text-align: center;
  margin-bottom: 25px;
  color: white;
}

.email-return {
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  width: 234px;
  height: 35px;
  padding-left: 5px;
  margin-bottom: 15px;
  font-family: serif;
}

.email-message {
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  padding-top: 10px;
  padding-left: 5px;
}

.form-button {
  width: 100px;
  height: 25px;
  padding-top: 2px;
  border-style: solid;
  border-width: thin;
  border-color: white;
  text-align: center;
  transition: .7s, background-color, ease-in-out;
}

.form-button:hover {
  cursor: pointer;
  transition: .7s, background-color, ease-in-out;
  background-color: #d3a248;
}

.button-text {
  color: white;
}
